@import url(https://fonts.googleapis.com/css?family=Neuton|Parisienne);header {
  height: 70vh;
  background: url(/images/header.jpg?9cc3871a25b44edab1a51eaca46d2fed) no-repeat center;
  background-size: cover;
}

.search-big {
  padding-top: 35vh;
}

.search-big input {
  background: rgba(203, 56, 3, 0.6);
  border: 0;
  border-radius: 50px 0 0 50px;
  color: white;
  font-size: 25px;
  padding: 30px 10px 30px 15px;
}

.search-big i {
  color: white;
}

.search-big button {
  border: 0;
  padding-right: 25px;
  background-color: rgba(203, 56, 3, 0.6);
  height: 60px;
  border-radius: 0 50px 50px 0;
}

