// Fonts
@import url('https://fonts.googleapis.com/css?family=Neuton|Parisienne');

// Body
$body-bg: #f8fafc;

// Typography
$font-neuton: "Neuton", sans-serif;
$font-parisienne: 'Parisienne', cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$main-light: #FFFBF9;
$main-medium: #FFCDBB;
$main-dark: #CB3803;
$main-dark-transparent: rgba(203, 56, 3, 0.6);
$gray-light: #ececec;

$dark: #373d42;
$dark-brown: #1D1D1D;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #FDE541;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
