@import "variables";

header {
  height: 70vh;
  background: url("../img/header.jpg") no-repeat center;
  background-size: cover;
}

.search-big {
    padding-top: 35vh;

    input {
        background: $main-dark-transparent;
        border: 0;
        border-radius: 50px 0 0 50px;
        color: white;
        font-size: 25px;
        padding: 30px 10px 30px 15px;
    }

    i {
        color: white;
    }

    button {
        border: 0;
        padding-right: 25px;
        background-color: $main-dark-transparent;
        height: 60px;
        border-radius: 0 50px 50px 0;
    }
}
